<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'My Application'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
</head>
<body>
<header th:insert="basicComponent/header :: header"></header>

    <div th:each="img : ${images}">
        <img th:src="'/images/'+${img.id}" alt="Something wrong" height="100px"><br><br>
    </div>

    <h3 th:text="${el.name}"/>
    <p th:text="${el.price}"/>
<h4 th:text ="${el.description}"/>

<form th:action="'user/'+${user.id}+'/bucket/add/'+${el.id}" method="post">
    <button type="submit">Add to bucket</button>
</form>

<div th:each="role : ${user.roles}">
    <form th:action="'/products/'+${el.id}+'/delete'" method="post" th:if="${role.name().equals('ADMIN')}">
        <input type="submit" value="Delete product">
    </form>
    <form th:action="'/products/'+${el.id}+'/update'" method="get" th:if="${role.name().equals('ADMIN')}" >
        <input type="submit" value="Update product">
    </form>
</div>
<footer th:insert="basicComponent/footer :: footer"></footer>
</body>

</html>