<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="'My Application'"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" />
</head>
<body>
<header th:insert="basicComponent/header :: header"></header>

    <div th:each="img : ${images}">
        <img src="'/images/'+${img.id}" alt="Something wrong" >
    </div>

    <h3 th:text="${el.name}"/>
    <p th:text="${el.price}"/>
    <h4 th:text ="${el.description}"/>
<footer th:insert="basicComponent/footer :: footer"></footer>
</body>

</html>